﻿/* Hero section */
.wrap-content{
  .first-section{
    padding-top: 6.1rem;

  }

}
.section-template{
  background-color: $white;
}
.hero-section{
  width: 100%;
  background:rgb(205,228,249) url('../images/hero-bg@2x.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 4rem;
  .container{
    position: relative;
  }
  .product{
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    > img{
      height: 100%;
    }
  }
}
.hot-line{
  height: 50px;
}
.hero-content{
  position: relative;
  display: flex;
  justify-content: space-between;
  &__name{
    margin: 0;
    > img{
      width: 30rem;
    }
  }
  &__description{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $light-blue;
    font-weight: lighter;
    font-style: italic;
  }
  &__description-2{
    padding-left: 30%;
    margin-bottom: 4rem;
  }
  &__left{
    width: 31rem;
    flex-shrink: 0;
    z-index: 2;
  }
  &__right{
    z-index: 2;
    flex-shrink: 0;
    width: 28rem;
    border-radius: 30px;
    background: rgba(58,142,236,0.44);
    padding: 2.4rem;
    .form-group{
      margin-bottom: 6px;
    }
  }
}
.ultility{
  margin-bottom: 4rem;
  li{
    display: flex;
    vertical-align: top;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    > img{
      width: 16px;
      margin-right: 1.2rem;
    }
  }

}
.promotion-title{
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  font-weight: 400;
  margin: 0;
}
.promotion-cta{
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  color: $white;
  margin-bottom: 1.5rem;
}
.frm-landing{
  .form-group{
    > label{
      font-size: 1.3rem;
      font-weight: bold;
      color: $white;
      margin-bottom: 5px;
    }
  }
  .form-control{
    font-size: 1.3rem;
    color: $blue;
    font-weight: 400;
    width: 100%;
    border-radius: 8px;
    height: 3.4rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  textarea.form-control{
    height: 9.7rem;
    padding-top: 1rem;
  }
}
.frm-submit{
  margin-top: 2.5rem;
  text-align: center;
}
.btn{
  > .icon-touch{
    height: 2.6rem;
    margin-right: 6px;
  }
}
.link-banner{
  width: 100%;
  > img{
    width: 100%;
  }
}

/* add to cart */








.show-desktop{
  display: block;
}
.show-mobile{
  display: none;
}
.left-time{
  padding: 1rem 0;
  margin-bottom: 2rem;
  background-color: $white;
  &__content{
    display: flex;
    justify-content: center;
    align-items: center;

    > span{
      font-size: 1.8rem;
      color: $light-blue;
    }
  }
  &__countdown{
    display: inline-flex;
    margin: 0 3rem;
    &--item{
      display: flex;
      flex-direction: row;
    }
  }
}
.ul-left-time{
  > li{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2px;
    > div{
      width: 6rem;
      height: 6rem;
      background: $gray-800;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-weight: lighter;
      color: $white;
      font-size: 2rem;
      margin-bottom: 3px;
    }
    > span{
      display: block;
      text-align: center;
      font-size: 1.4rem;
    }
  }
}
.comment-fb,.feedback,.qa,.components-section,.who-we-are,.lenka-tech,.lenka-steps{
  padding: 4rem 0;
}
.lenka-steps{
  background-image: url('../images/lenka-steps.svg') ;
  background-position: 100% bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;
  min-height: 50rem;
  &__detail{
    width: 100%;
    max-width: 40rem;
  }
  &__name{
    text-align: center;
    >img{
      width: 25rem;
      margin: 0 auto;
    }

  }
  &__description{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #3A8EEC;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
  }
  &__ct{
    margin-top: 1rem;
  }
}
.lenka-tech{
  padding: 4rem 0;
  background-attachment: fixed;
  background-image: url("../images/nen-1.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  &__content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  &__copy{
    width: 50%;
    text-align: left;
    display: inline-flex;
    align-items: center;
    padding-left: 3rem;
    .in{
      //max-width: 35rem;
    }
    &--title{
      font-size: 2.4rem;
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      margin-bottom: 4rem;
      &:before{
        position: absolute;
        width: 53%;
        bottom: -6px;
        left: 0;
        height: 2px;
        background-color: $light-blue;
        content: '';

      }
    }
    .btn{
      margin-top: 2rem;
    }
  }
  &__ul{
    > li{
      margin-bottom: 1.5rem;
      font-size: 1.6rem;
      font-weight: 300;
      > img{
        width: 16px;
        margin-right: 1.2rem;
      }
      > span{

      }
    }
  }
  &__product{
    width: 50%;
    position: relative;
    img{
      max-height: 45rem;
    }
  }
}

.price{
  height: 6rem;
  border: 2px solid $blue;
  border-radius: 3rem;
  padding: 1rem 1.5rem;
  display: inline-flex;
  position: absolute;
  align-items: center;
  top: 50%;
  margin-left: -16rem;
  font-size: 1.8rem;
  label{
    margin-bottom: 0;
    font-size: 4rem;
    margin-right: 1rem;
    font-weight: bold;
  }
}

.who-we-are{
  background-color: $light-blue;
  padding: 4rem 0;
  &__in{
    display: block;
    text-align: center;
  }
  &__title{

  }
  &__list{
    display: flex;
    justify-content: space-between;
    >li{
      display: inline-flex;
      align-items: center;
      color: $white;
      font-size: 1.4rem;
      img{
        width: 65px;
        margin-right: 1.2rem;
      }
    }
  }
}
.center-title{
  padding: 1.5rem 2rem;
  border: 2px solid $white;
  color: $white;
  text-align: center;
  display: inline-block;
  margin: 0 auto 4rem;
  border-radius: 40px;
  text-transform: uppercase;
}

.components-section{
  padding: 4rem 0;
  color: $light-blue;
  &__list{
    display: block;
    > li{
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
      .img{
        flex-shrink: 0;
        width: 55px;
        > img{
          width: 100%;
          border-radius: 50%;
        }
      }
      > span{
        display: inline-block;
        flex-shrink: 1;
        padding-left: 1.5rem;
      }
    }
  }
}
.components{
  &__small-title{
    margin-bottom: 0;
    font-weight: 400;
    label{
      font-weight: 600;
    }
  }
  &__big-title{
    font-size: 4.5rem;
    margin-bottom: 2rem;
  }
}
.player{
  width: 100%;
}

.qa{
  min-height: 45rem;
  background-color: $white;
  position: relative;
  color: $light-blue;
  padding-bottom: 0;
  overflow: hidden;
  display: block;
  .frm-qa{
    width: 50%;
    float: right;
  }
  &__up{
    width: 100%;
    float: left;
    padding-bottom: 2rem;
  }
  &__title{
    font-size: 2.4rem;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 3.5rem;
    display: inline-block;
    &:before{
      content:'';
      position: absolute;
      bottom: -1rem;
      width: 15rem;
      height: 2px;
      background-color: $light-blue;
      left: 52%;
      transform: translateX(-50%);
    }
  }
  .form-group{
    label{
      font-weight: bold;
    }
  }
  .form-control{
    border-color: $light-blue;
    border-radius: 10px;
    @include placeholder($light-blue);
    &:focus{
      color: $light-blue;
      font-size: 1.4rem;
    }
  }
  textarea{
    overflow-y: auto;
    height: 15rem;
    font-weight: 400;
    font-size: 1.4rem;
    color: $light-blue;
    padding: 1.2rem 1.5rem;
    background: #f9f9f9;
  }
}
.doctor{
  width: 100%;
  float: left;
  background-color:#F3F3F3;
  padding: 2rem 0;
  .container{
    position: relative;
  }
  &__info{
    padding-left: 18rem;
    p{
      &:first-child{
        font-weight: 600;
        margin-bottom: 0;
      }
    }
  }
  .doctor-talk{
    width: 50%;
    max-width: 400px;
    position: absolute;
    left: 0;
    bottom: -3rem;
  }
}
.select2-container {
  font-size: 1.4rem;
  color: #3A8EEC;
}
.select2-container .select2-selection--single{
  height: 4.6rem;
  border-radius: 2.3rem;
  background: #f9f9f9;
}
.select2-container--default  {
  &:focus{
    outline: none!important;
  }
  .select2-selection--single{
    border-color: $light-blue;
    &:focus{
      outline: none!important;
    }
    .select2-selection__rendered{
      line-height: 4.4rem;
      color: $light-blue;
    }
    .select2-selection__arrow {
      b{
        border-color: $light-blue transparent transparent transparent;
        border-width: 6px 5px 0 5px;
      }
    }
    .select2-selection__arrow{
      top: 10px;
      right: 12px;
    }
  }

}

.select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 1.5rem;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{
  &:focus{
    outline: none!important;
  }
}

.feedback{
  background: $white;
  .center-title{
    color: $light-blue;
    border-color: $light-blue;
    text-align: center;
  }
  &__in{
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
  }
  &__list{
    text-align: left;
    > li{
      width: 100%;
      padding-left: 4.5rem;
      margin-bottom: 3.5rem;
      position: relative;
      &:last-child{
        margin-bottom: 0;
      }
      .ava{
        width: 9rem;
        position: absolute;
        top: -1.5rem;
        left: 0;
        z-index: 1;
        border-radius: 50%;
      }
      .in{
        background: $light-blue;
        border-radius: 10px;
        padding: 1.5rem 2rem 1.5rem 5.5rem;
        color: $white;
      }
    }
  }
  &__name{
    font-weight: bold;
    font-size: 1.6rem;
  }
  &__description{
    font-size: 1.4rem;
  }
}
.comment-fb{
  background: -moz-linear-gradient(top, #DAECFA 50%, #ffffff 50%);
  background: -webkit-linear-gradient(top, #DAECFA 50%,#ffffff 50%);
  background: linear-gradient(to bottom, #DAECFA 50%,#ffffff 50%);
  &__box{
    max-width: 60rem;
    margin: 0 auto;
    border-radius: 10px;
    background: $white;
  }
}
.guides{
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}
.ul-steps{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -6px 2rem;
  > li{
    width: 33.33%;
    display: inline-block;
    padding: 0 6px;
    > img{
      width: 100%;
    }
  }
}
.ul-steps-detail{
  >li{
    border-radius: 10px;
    text-align: center;
    display: block;
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    background: $light-blue;
    color: $white;
  }
}
.doctor-talk{

}
/* ============== RESPONSIVE ================*/
@media screen and (max-width: 1200px){

}

@include media-breakpoint-down(md) {
  .wrap-content .first-section{
    padding-bottom: 3rem;
  }
  .hero-content{
    &__name{
      width: 25rem;
    }
  }
  .lenka-steps{
    background-position: 130% bottom;
    background-size: auto 70%;
    &__name {
      > img{
        width: 22rem;
      }
    }
  }
  .price{
    top: 0;
    right: 0;
  }
  .components{
    &__small-title{
      font-size: 1.4rem;
    }
    &__big-title{
      font-size: 2.5rem;
    }
  }
  .components-section{
    &__list {
      margin-bottom: 2rem;
      > li{
        font-size: 1.4rem;
        font-weight: 300;
        .img {
          width: 4rem;
        }
        > span{
          padding-left: 1rem;
        }
      }
    }
  }
  .center-title{
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
  }
  .doctor {
    .doctor-talk{
      padding-right: 2rem;
    }
  }
  .feedback{
    &__list {
      > li {
        padding-left: 3rem;
        .in{
          padding-left: 4.5rem;
        }
        .ava{
          width: 6rem;
        }
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .show-desktop{
    display: none;
  }
  .show-mobile{
    display: block;
  }
  .wrap-content{
    overflow-x: hidden;
    .first-section{

    }
    .hero-section{
      padding-bottom: 0!important;
    }
  }
  /* hero */
  .hero-content{
    padding-bottom: 39rem!important;
    position: relative;
    display: block;
    &__left{
      display: none;
    }
    &__right{
      width: 100%;
    }
  }
  .promotion-title{
    font-size: 2rem;
  }
  .promotion-cta{
    font-size: 3rem;
  }
  .frm-landing {
    .form-control{
      height: 3.8rem;
    }
    textarea.form-control{
      height: 6.8rem;
    }
  }
  .hero-section {
    .product{
      bottom: -2rem;
      top: inherit;
      width: 100%;
      height: inherit;
      > img{
        max-width: 1000%;
        width: 45rem;
        height: auto;
      }
    }
  }
  /**/
  .who-we-are,.components-section,.qa,.feedback{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  /**/
  .left-time{
    padding: 2rem 0;
    &__content{
      text-align: center;
      display: block;
      > span{
        display: none;
      }
    }
    &__countdown{
      margin-bottom: 1.5rem;
    }

  }
  .btn.btn-hightlight{
    height: 6.6rem;
    border-radius: 3.5rem;
    > span{
      height: 6.4rem;
      border-radius: 3.2rem;
      font-size: 2rem;
      padding-left: 1.6rem;
      padding-right: 1.6rem;
    }
  }

  .lenka-steps{
    padding-bottom: 32rem;
    background-position: center bottom;
    background-size: 110%;
    &__name {
      > img{
        width: 100%;
        max-width: 30rem;
      }
    }
    &__description{
      font-size: 2rem;
      margin-top: -1rem;
      margin-bottom: 2rem;
    }
  }
  .lenka-tech{
    padding-bottom: 0;
    background-image: url('../images/nen-1-mobile.svg');
    &__content{
      display: block;
    }
    &__copy{
      width: 100%;
      padding-left: 0;
      .in{
        text-align: center;
      }
      &--title{
        font-size: 2.9rem;
      }
    }
    &__ul{
      margin-bottom: 1.5rem;
      text-align: left;
    }
    &__product{
      width: 100%;
      text-align: center;
      padding-top: 6rem;
      .price{
        left: 50%;
        right: auto;
        top: 2rem;
        margin-left: 0;
        transform: translateX(-50%);
      }
    }
  }

  .who-we-are{
    .center-title{
      max-width: 39rem;
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
    &__list{
      display: block;
      >li{
        width: 100%;
        margin-bottom: 1.5rem;
        > img{
          width: 10rem;
          margin-right: 2rem;
        }
        >span{
          font-size: 2rem;
        }
      }
    }
  }
  .components-section{
    padding-bottom: 0;
    &__list {
      > li {
        font-size: 1.6rem;
        .img{
          width: 6rem;
        }
      }
    }
  }
  .components{
    &__small-title{
      font-size: 1.6rem;
      text-align: center;
    }
    &__big-title{
      text-align: center;
      font-size: 3.6rem;
    }
  }
  .player{
    margin-left: -2rem;
    margin-right: -2rem;
    width: auto;
    display: block;
  }
  .qa{
    padding-bottom: 0;
    .frm-qa{
      width: 100%;
      .form-group{
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    &__title{
      font-size: 1.9rem;
      text-align: center;
    }
    &__up{
      padding-bottom: 0;
    }
  }
  .doctor {
    background: transparent;
    padding: 0;
    .container{
      padding-bottom: 40rem;
    }
    &__info{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #f3f3f3;
      padding: 1rem 0 1rem 18rem;
      color: $blue;
      > p{
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    .doctor-talk{

      max-width: 100%;
      width: 410px;
    }
  }
  .feedback__list > li .in {
    padding-left: 4rem;
  }
  .center-title{
    margin-bottom: 2rem;
  }
}

/*  ================= Special ===============  */
@media screen and (min-width: 1600px) {
  .container{
    max-width: 1440px;
  }
  .hero-content__left{
    width: 40rem;
  }
  .hero-content__right{
    width: 40rem;
  }
}
@media screen and (min-width: 400px) and (max-width: 767px) {
  .hero-section {
    .product{
      > img{
        margin-left: -13%;
      }
    }
  }
  .doctor {
    .container {
      padding-bottom: 40rem;
    }
  }
}
@media screen and (min-width: 360px) and (max-width: 390px) {
  .hero-section {
    .product{
      > img{
        margin-left: -20%;
      }
    }
  }
  .header .hero-content__name{
    width: 90px!important;
  }
  .doctor {
    .container {
      padding-bottom: 36rem;
    }
  }
}
@media screen and (max-width: 359px) {
  .hero-section {
    .product{
      > img{
        margin-left: -30%;
      }
    }
  }
  .doctor__info{
    padding-left: 13rem;
  }
  .doctor .container{
    padding-bottom: 30rem;
  }
}
