.footer {
  background: #4D4D4D;
  padding: 4rem 0;
  margin-bottom: 0;
  text-align: center;
  color: $white;
  font-weight: 300;
  &__logo{
    display: inline-block;
    > img{
      height: 4rem;
    }
  }
}

/* =========================== RESPONSIVE =========================== */
@include media-breakpoint-down(md) {

}
@include media-breakpoint-down(sm) {
  .footer{
    font-size: 1.2rem;
  }
}
