html {
    font-size: 62.5%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $body-bg-color;
    font-size: $font-size-base;
    color: $blue;
    img {
         max-width: 100%;
        display: inline-block;
    }
}


h1, h2, h3,h4 ,h5,h6{
    font-weight: 600;
    margin: 0 0 0.5rem;
}
a[href]{
    color: $blue;
    transition: all ease-in-out 0.3s;
    text-decoration: none;
    &:hover,&:focus{
        color: $red;
    }
}

.align-right{
    text-align: right;
}

.title {
    font-family: $font-family-base;
}
h1{
    font-size: 3rem!important;
    &.title{
        font-size: 3rem!important;
        color: #2e4057;
    }
}

h2 {
    font-size: 2.6rem;
    &.title {
        font-size: 1.4rem;
    }
}

h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.4rem;
    &.title{
        font-size: 1.4rem;
    }
}

h5 {
    font-size: 1.6rem;
    &.title {
        font-size: 1.8rem;
    }
}

h6 {
    font-size: 1.4rem;
}


.ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    > li{
        &:last-child{
            margin-bottom: 0;
        }
    }
}
b,strong{
    font-weight:900;
}
img {
    max-width: 100%;
}

.semibold {
    font-weight: 600;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}
h2,h3,h1 {
    a:hover {
        text-decoration: none;
    }
}
.clearfix {
    &:after, &:before {
        content: "";
        display: table;
        clear: both;
    }
}

.form-group {
    margin-bottom: 2rem;
    > label{
        display: block;
    }
}
.no-padding-top {
    padding-top: 0;
}

.help-block{

    margin-top: 3px;
    display: none;
}
.form-error{
    font-size: 1.3rem;
    color: #ff0000;
    font-weight: 400;
}
.has-error{
    .help-block{
        display: block;
    }
}

@include media-breakpoint-up(lg) {
    .container-fluid {
        padding: 0 25px;
    }
}

*[routerlink] {
    cursor: pointer;
    outline: none;
}

.link {
    cursor: pointer;
}

.mute {
    font-size: 1.2rem;
}

.mute-yellow {
    color: #A29C87;
}

.text-xs {
    font-size: 1.2rem;
}

.text-sm {
    font-size: 1.4rem;
}
.lead{
    font-size: 1.4rem;
    font-weight: 400;
}

.section-title {
    margin-bottom: 30px;
    font-size: 5rem;
    font-weight: 300;
    margin-left: -3px;

    @include media-breakpoint-down(sm) {
        font-size: 3.5rem;
    }
}

a {
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
    color: $body-color;
    text-decoration: none;

    &:hover {
        color: $primary-color-active;
    }
}

.slick-arrow {
    position: absolute;
    top: 50%;
    @include translateY(-50%);
    z-index: 9;
    border: 0;
    overflow: hidden;
    line-height: 0;
    text-align: center;
    outline: 0;

    width: 4rem;
    height: 4rem;
    font-size: 0;
    background: $white;
    border-radius: 50%;
    cursor: pointer;
    outline: none !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.05);
    color: #000;
    font-size: 1.4rem;

    background-repeat: no-repeat;
    background-size: 16px 17px;
    &.slick-disabled {
        display: none;
    }

    &:after {
        display: block;
    }

    &.slick-next {
        right: -5rem;
        background-image: url('../images/next.svg');
        background-position: 57% center;
    }

    &.slick-prev {
        left: -5rem;
        background-image: url('../images/prev.svg');
        background-position: 47% center;
    }

}
.slider-center-dot{
    .slick-dots{
        bottom: -3rem;
        left: 50%;
        transform: translateX(-50%);
        > li{
            button{
                width: 4px;
                height: 4px;
            }
            &.slick-active{
                button{
                    background-color: $orange;
                }
            }
        }
    }
}
.open-accordion{
    overflow: hidden;
}

main {
    @include media-breakpoint-down(md) {

    }
}

section {
    margin-bottom: 1.2rem;
    @include media-breakpoint-down(sm) {

    }
}
.row {
    margin-left: -20px!important;
    margin-right: -20px!important;
}
.btn {
    height: 3.8rem;
    border-radius: 17px;
    background: $red;
    font-size: 1.4rem;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $white;
    padding: 0 2rem;
    border: none;
    transition: transform ease-in-out 0.3s;
    &.btn-larger{
        border-radius: 2.3rem;
        height: 4.6rem;
        &:hover,&:focus{
            color: $white;
        }
    }
    &:hover, &:focus{
        color: $white;
        background: $orange;
        border-color: $orange;
        transform: scale(1.05);
    }
    &:focus {
        outline: none;
        box-shadow: none;
    }
    &.btn-primary{
        background: $red;
        color: $white;

    }
    &.btn-hightlight{
        background: transparent;
        border: 1px solid $red;
        padding:0;
        display: inline-block;
        height: 5rem;
        border-radius: 2.7rem;
        > span{
            display: inline-flex;
            border: 5px solid $white;
            background: $red;
            color: $white;
            height: 4.8rem;
            border-radius: 2.4rem;
            align-items: center;
            justify-content: center;
            padding: 0 1.2rem;
        }
    }
}

.text-impress{
    color: $impress-blue;
    &:hover,&:focus{
        color: $orange;
    }
}
.text-link{

}
.white-text{
    color: $white;
}
.slick-dots{
    bottom: 5rem;
    position: absolute;
    list-style-type: none;
    height: 1rem;
    margin: 0;
    > li{
        margin: 0 5px;
        display: inline-block;
        button{
            width: 9px;
            height: 9px;
            border-radius: 50%;
            display: inline-block;
            text-indent: -9999rem;
            padding: 0;
            background-color: #8e8e8e;
            border: none;

        }
        &.slick-active{
            button{
                background-color: $orange;
            }
        }
    }
}
.txt-hightlight{
    color: #1667d2;
    &:hover{
        color: $orange;
    }
}
.hide-desktop{
    display: none;
}
.hide-mobile{
    display: block;
}
@include media-breakpoint-down(md) {
    .col-xs-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xs-4 {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
    }
    .slider-center-dot .slick-dots {
        bottom: -1rem;
    }
}
@include media-breakpoint-down(sm) {
    .slider-center-dot .slick-dots {
        bottom: 0rem;
    }
    .hide-desktop{
        display: block;
    }
    .hide-mobile{
        display: none;
    }
}

.form-control {
    height: 4rem;
    border: 1px solid rgba(151,151,151, 0.4);
    padding: 0 1.5rem;
    color: $blue;
    font-weight: 600;
    //box-shadow: 0 24px 22px 0 rgba(0, 0, 0, 0.05);
    @include placeholder($blue);
    &:focus {
        outline: none;
        box-shadow: none;
        color: $blue;
    }
}
textarea{
    &.form-control {
        height: 9rem;
    }
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select.form-control {
    background-size: 14px;
    background-repeat: no-repeat;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #dadada;
    background-color: #ffffff;
}

.search-input {
    input {
        padding-right: 40px;
    }
    i {
        position: absolute;
        top: 50%;
        color: white;
        @include translateY(-50%);
        right: 15px;
    }
    position: relative;
}


textarea.form-control {

}

.input-checkbox {
    font-size: 16px;
    margin-top: 20px;

    a {
        font-weight: 700;

        &:hover {
            color: $body-color;
            text-decoration: underline !important;
        }
    }
}

.error {
    color: #FF0000;

    a {
        color: #FF0000;

        &:hover {
            color: #FF0000;
        }
    }
}


.row {
    margin-left:-10px;
    margin-right:-10px;
    > div {}
}
.jspVerticalBar{
    width: 6px;
    background: $white;
    right: -1rem;
    .jspTrack{
        background: transparent;
    }
}
.jspContainer{
    overflow: visible!important;
}
.jspDrag{
    width: 6px;
    background: #d8d8d8;
    border-radius: 3px;
}
.back-to-top{
    position: fixed;
    right: 2rem;
    bottom: 9rem;
    height: 4.8rem;
    border-radius: 3.2rem;
    box-shadow: 0 9px 40px 0 rgba(0, 0, 0, 0.17);
    background: $white url('../images/arrow-up.svg') no-repeat 1.8rem center;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
    padding: 0 1.8rem 0 3rem;
    display: flex;
    align-items: center;
    > span{
        padding-left: 1.8rem;
        display: none;
    }
    //&:hover{
    //    > span{
    //        display: inline-block ;
    //    }
    //}

}
/* Animations */
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}


.section-default{
    padding: 5rem 0;
}

/* fadeInUp */
@keyframes btnEntrance {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-name: btnExit;
}
.jspHorizontalBar{
    display: none;
}
/* zoomOut */
/* @keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} */

/* fadeOutDown */
@keyframes btnExit {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}
@media (min-width: 1600px){
    .container {
        max-width: 1170px;
    }
}
@include media-breakpoint-down(md) {
    .container {
        max-width: 100%;
    }
    .slick-dots{
        bottom: 3rem;
    }
    .section-default{
        padding: 3rem 1rem;
    }
}
@include media-breakpoint-down(sm) {
    h1{
        font-size: 2.4rem!important;
        &.title{
            font-size: 2.4rem!important;
            margin-bottom: 2rem;
        }
    }
    h3{
        font-size: 2.4rem;
    }
    .slick-dots{
        padding-left: 2rem;
        bottom: 2.5rem;
    }
    .slick-list{
      overflow: hidden;
    }
    .slider-center-dot .slick-dots{
        bottom: -1rem;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1670px;
    }
}

