.header{
  background: transparent;
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  margin-bottom: 0;
  z-index: 3;
  &.fixed{
    background: $white;
    box-shadow: 0 0 30px 0 rgba(32,39,48,.08);
  }
}
.nav-mobile{
  display: none;
}
.mobile-nav{
  width: 100%;
  text-align: right;
  .nav-bar-f{
    display: none;
  }
}
.landing-menu{
  float: right;
  &__item{
    margin-right: 2.5rem;
    display: inline-block;
    &:last-child{
      margin-right: 0;
    }
    a{
      font-size: 1.4rem;
    }
  }
}
.heading-mobile{
  &__in{

  }
}

/* =========================== RESPONSIVE =========================== */
@include media-breakpoint-down(xl) {

}
@media screen and (max-width: 1200px){ // under 1200

}

@include media-breakpoint-down(md) {

}

@include media-breakpoint-down(sm) {
  .nav-mobile{
    display: block
  }
  /* header */
  .header {
    position: fixed;
    padding: 1.2rem 0 0.8rem;
    .container{
      display: flex;
      justify-content: space-between;
    }
    .fixed{
      top: 0;
      background: transparent;
      box-shadow: none;
    }
    .hero-content{
      &__name{
        width: 114px!important;
        flex-shrink: 0;
        > img{
          width: 100%;
        }
      }
    }
    .heading-mobile__in{
      display: flex;
    }
    .heading-slogan{
      margin-top: 6px;
      padding-left: 1.4rem;
      h2{
        font-size: 1.2rem;
        margin-bottom: 0;
        padding-left: 0!important;
      }
    }
  }
  .hot-line {
    &.show-mobile{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 4.8rem;
      width: 30rem;
      >img{
        width: 100%;
      }


    }
  }
  .nav-mobile{
    width: 3rem;
    display: inline-flex;
    > img{
      marign-top: 2rem;
    }
  }
  .mobile-nav{
    position: absolute;
  }
  .wrap-nav-m{
    display: none;
  }
  .nav-close{
    display: none;
  }
  .overlay-mobile-nav{
    display: none;
  }



}
