.modal-lg{
  max-width: 74rem;
  width: 90%;
}
.modal-header{
  padding: 4rem 2rem;
  border: none;
  &.none-flex{
    display: block;
    text-align: center;
  }
}
.modal-title{
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  width: 100%;
}
.modal-content{
  border: none;
  border-radius: 8px;
  padding: 0 9rem 6rem;
}
.modal-body{
  padding: 0;
}
.quick-view-ct{
  display: flex;
}
.carousel-product,.quick-info-product{
  width: 50%;
}
.slider-for{
  .slick-slide{
    width: 45rem;
    height: 45rem;
  }
}
.slider-nav{
  margin: 2rem 0 0;
  overflow-x: hidden;
  .slick-list{
    margin: 0 -0.5rem;
  }
}
.for-item{
  width: 45rem;
  height: 45rem;
  display: inline-flex!important;
  align-items: center;
  justify-content: center;
  > img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}
.nav-item{
  height: 5.6rem;
  margin: 0 0.5rem;
  > img{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
.quick-info-product{
  text-align: left;
  padding-left: 5rem;
  h4{
    margin-bottom: 1.5rem;
  }
}
.bref-info{
  text-align: left;
  > p{
    margin-bottom: 0.5rem;
  }
}
.group-info{
  margin-bottom: 1.2rem;
}
.info-to-add-cart{
  border-top: 1px solid $gray-700;
  padding: 1.5rem 0 0;
  margin-top: 1.5rem;
  .price{
    width: 100%;
    background: none;
    color: $blue;
    font-size: 3rem;
    font-weight: bold;
    padding: 0;
    margin-bottom: 3rem;
  }
  .inline-add-cart{
    margin-bottom: 0;

  }
  .add-to-cart{
    margin-left: 0;
    margin-right: 0;
  }
}
.add-cart-qv{
  display: flex;
  > *{
    &:nth-child(1),&:nth-child(2){
      padding-right: 2rem;
    }
  }
}
.cta-quick-view{
  display: flex;
  .add-to-cart{
    margin-right: 1rem;
  }
  > *{
    margin-right: 1rem;
  }
  .btn-default{
    width: 100%;
    flex-shrink: 1;
  }
}
/* Modal confirm */
.modal-confirm{
  .modal-dialog{
    max-width: 55rem;
  }
  .modal-content{
    padding-top: 6rem;
  }
  .modal-title{
    margin-bottom: 1.5rem;
  }
  .lead{
    margin-bottom: 2rem;
  }
}
.link-login{
  .btn{
    color: #1667d2;
  }
}
.modal-syn-email-exist{
  .modal-dialog{
    max-width: 50rem;
  }
  .modal-content{
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .modal-body{
    text-align: center;
  }
  .txt-modal{
    padding: 5rem 0 4rem;
  }
}
.modal-body{
  .div-cta{
    .btn{
      margin: 0 1rem 1rem;
    }

  }
}
.close-modal{
  position: absolute;
  top: 0rem;
  right: 0rem;
  cursor: pointer;
  padding: 1rem;
  z-index: 2;
}
.modal-out-of-stock{
  .cta-quick-view{
      .btn{
        background-color: #d8d8d8;
        border-color: #d8d8d8;
      }

  }
}
.btn-modal-add-cart{
  background: url('../images/icon-cart.svg') no-repeat center center ;
  background-size: 1.9rem 1.6rem;
  &:hover,&:active,&:focus{
    background: url('../images/icon-cart.svg') no-repeat center center ;
  }
}
.modal-out-of-stock{
  .btn-modal-add-cart{
    background: url('../images/icon-cart-white.svg') no-repeat center center ;
    background-size: 1.9rem 1.6rem;
  }
}
/* =========================== RESPONSIVE =========================== */
@include media-breakpoint-down(md) {
  .quick-info-product{
    padding-left: 2rem;
  }
}
@include media-breakpoint-down(sm) {
  .modal-dialog{
    margin:0;
  }
  .modal-open .modal{
    padding-right: 0!important;
  }
  .modal-lg{
    width: 100%;
  }
  .modal-content{
    border: none;
    border-radius: 0;
    padding: 0 2rem 4rem;
    overflow-x: hidden;
  }
  .slideToUnlock {
    .text{
      padding-right: 2rem;
      justify-content: flex-end!important;
    }
  }
  .modal-syn-email-exist {
    .modal-content{
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  // quick view mobile
  .modal-mobile{
    padding-left: 0!important;
    .container{
      padding: 0;
      .modal-content{
        padding: 2rem;
      }
    }
  }
}
