// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

// stylelint-disable
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #f8f8f8 !default;
$gray-600: #6b7888 !default;
$gray-700: rgba(151,151,151,0.3) !default;
$gray-800: #3C4251 !default;
$gray-900: #212529 !default;
$black: #000 !default;



$blue:#0A0548 !default;
$light-blue: #3A8EEC!default;
$hight-light: #16b5d2;
$dusk-blue: rgba(46,48,146,0.9);
$dusk-blue-full: #2e3092;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #F50A0A !default;
$orange: #ffb34a !default;
$yellow: #FFCE00 !default;
$green: #95cd6f !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$primary-color-active: $blue !default;
$body-bg-color: #DAECFA !default;
$body-color: #000 !default;
$buttontext: #0f4876 !default;

$impress-blue: #1667d2;



$grid-gutter-width: 40px !default;
// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: 'Montserrat',Arial, sans-serif !default;
// stylelint-enable value-keyword-case

$font-size-base: 1.4rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: ($font-size-base * .875) !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$headings-font-family: $font-family-base !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$headings-color: inherit !default;

$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;

$display1-weight: 300 !default;
$display2-weight: 300 !default;
$display3-weight: 300 !default;
$display4-weight: 300 !default;
$display-line-height: $headings-line-height !default;

$lead-font-size: ($font-size-base * 1.25) !default;
$lead-font-weight: 300 !default;

$small-font-size: 80% !default;

$text-muted: $gray-600 !default;
$text-color-default: #0f4876;

$input-placeholder-color: rgba(46,64,87,0.3);
